  body {
  background-color: #f9f9ff;
}

.hero h1 {
  font-size: 2.5rem;
}

.input-group .form-control {
  border-radius: 25px 0 0 25px;
}

.input-group .btn {
  border-radius: 0 25px 25px 0;
}

.badge {
  padding: 10px 14px;
  font-size: 0.9rem;
  border-radius: 20px;
  cursor: pointer;
}


.card:hover { box-shadow: 0 0 10px rgba(0,0,0,0.15); }
    .btn-green { background-color: #21C98D; color: white; }
    .btn-green:hover { background-color: #1ab37c; }
    .freelancer-img { width: 60px; height: 60px; border-radius: 50%; object-fit: cover; }
  


     .icon-img {
      width: 60px;
      height: 60px;
      object-fit: contain;
    }
    .benefit-box {
      background-color: white;
      padding: 15px 20px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      gap: 15px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .yellow-section {
      background-image: url("../public/img/main-bg.jpg");
      background-position: center;
    }
    .start-btn {
      background-color: #5c3dfa;
      color: white;
      padding: 10px 30px;
      border-radius: 20px;
      font-weight: bold;
    }
    .start-btn:hover {
      background-color: #4a30cc;
    }


      .footer {
      background-color: #f5f3ff;
      padding: 40px 0;
    }
    .footer a {
      display: block;
      margin-bottom: 8px;
      color: #333;
      text-decoration: none;
    }
    .footer a:hover {
      text-decoration: underline;
    }
    .footer .social-icons  {
      
      gap: 15px;
    }
    .footer .social-icons i:hover {
      color: #6c63ff;
    }
    .copyright {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
      color: #444;
    }




    
 .hove:hover {
  background: url("./img/photo_1_2025-04-07_16-48-59.jpg") center;
  background-size: cover;
  background-clip: text;
  color: transparent;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  to {
      background-position-x: -500px;
  }
}